@model DaycareProject.ViewModels.InfantFormViewModel



<h1>@Model.Student.StudentFirstName @Model.Student.StudentLastName</h1>
<h3>@Model.Classroom.ClassroomName</h3>
<h3>@DateTime.UtcNow</h3>
<br>

<h4>Today's Bottle Feedings</h4>

<table class="table">
    <tr>
        <th>Time</th>
        <th>Ounces Consumed</th>
    </tr>
    @foreach (var bottleFeeding in Model.BottleFeedings)
    {
        <tr>
            <td>@bottleFeeding.Date</td>
            <td>@bottleFeeding.Ounce.ToString() Ounce(s)</td>
        </tr>
    }

</table>

<p><a asp-controller="Form" asp-action="AddBottleFeeding/@Model.Student.ID">Add Bottle Feeding</a></p>