@model DaycareProject.ViewModels.ToddlerFormViewModel



<h1>@Model.Student.StudentFirstName @Model.Student.StudentLastName</h1>
<h3>@Model.Classroom.ClassroomName</h3>
<h3>@DateTime.UtcNow</h3>
<br>

<h4>Today's Meals</h4>



<table class="table">
    <tr>
        <th>Meal Time</th>
        <th>Food Served</th>
        <th>Amount Consumed</th>
    </tr>

    @foreach (var mealDescription in Model.Meals)
    {
        <tr>
            <td>@mealDescription.MealTime.Name</td>
            <td>@mealDescription.Description</td>
            <td>@mealDescription.FoodAmount.Amount</td>
        </tr>
    }

</table>

<p><a asp-controller="Form" asp-action="AddMeal/@Model.Student.ID">Add Meal</a></p>
